<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <title>PlayPdf</title>

    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>

    <div class="container">

        <h1>📚 PlayPdf</h1>

        <p>
            Transforme tes PDF en livres audio intelligents.
        </p>


        <form method="POST" enctype="multipart/form-data">

            <input type="file" name="pdf" accept=".pdf" required>

            <button>
                Analyser le PDF
            </button>

        </form>



        <h2>Résumé IA</h2>

        <div class="box">
            {{resume}}
        </div>


        {% if audio %}

        <h2>🎧 Écouter le résumé</h2>

        <audio controls>
            <source src="/{{audio}}" type="audio/mpeg">
            Votre navigateur ne supporte pas l'audio.
        </audio>

        {% endif %}



        <h2>Texte extrait</h2>

        <div class="box texte">
            {{texte}}
        </div>


    </div>


    <footer class="footer">
        © 2026 PlayPdf — Tous droits réservés.
    </footer>


</body>

</html>